@model List<GetBookVM>

<h1>All my books</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var book in Model)
        {
            <tr>
                <th scope="row">@book.Id</th>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>
                    <a 
                        asp-controller="Book" 
                        asp-action="Details" 
                        asp-route-id="@book.Id"
                        class="btn btn-primary">
                        Show details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>